.search-bar-container {
  position: relative;
}

.search-bar-input {
  width: 100%;
  padding: 1rem;
  padding-left: 3.5rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: var(--radius-l) var(--radius-l) 0 0;
  background-color: var(--accent1-color);
  color: var(--text-color);
  font-size: .9rem;
  transition: var(--transition);

  &:focus {
    background-color: var(--accent2-color);
    border-bottom-color: var(--primary-color);
  }

  &:focus+i {
    color: var(--text-color);
  }
}

i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray);
  transition: var(--transition);
  pointer-events: none;
}