.search-bar-container {
  position: relative;
}

.search-bar-input {
  width: 100%;
  padding: 1rem;
  padding-left: 3.75rem;
  border: none;
  outline: none;
  background-color: var(--accent2-color);
  color: var(--text-color);
  font-size: .9rem;

  &:focus+i {
    color: var(--text-color);
  }
}

i {
  font-size: 1.25rem;
  position: absolute;
  left: 1.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray);
  transition: var(--transition);
  pointer-events: none;
}