.global-market-container {
  display: flex;
  column-gap: .5rem;
}

p {
  text-wrap: nowrap;
  font-size: .7rem;
  color: var(--gray);
}

p span {
  color: var(--text-color);
  font-weight: 700;
}

.global-market-loader.skeleton {
  width: 50vw;
}