<div class="header-content-wrapper">
  @if (isSmallScreen()) {
  <div class="upper-header">
    <div class='upper-header-left'>
      <ms-navigation [user]="authService.user$()" />
      <a routerLink="/">
        <img class="app-logo" src="./assets/minterspace-logo.png" />
      </a>
    </div>

    <div class="upper-header-right">
      <ms-theme-button />
      <ms-account-button [user]="authService.user$()" />
    </div>
  </div>

  <div class="lower-header">
    <ms-header-search />
  </div>

  } @else {
  <div class="upper-header">
    <ms-global-market-bar />

    <div class="upper-header-right">
      <ms-theme-button />
      <ms-account-button [user]="authService.user$()" />
    </div>
  </div>

  <div class="lower-header">
    <a routerLink="/">
      <img class="app-logo" src="./assets/minterspace-logo.png" />
    </a>
    <ms-navigation [user]="authService.user$()" />
    <ms-header-search />
  </div>
  }

</div>