.header-content-wrapper {
  max-width: var(--app-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.upper-header,
.lower-header {
  display: flex;
  padding: .25rem;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.lower-header {
  padding: 1rem .25rem;
}

.upper-header-left,
.upper-header-right {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.lower-header-left {
  display: flex;
  column-gap: .75rem;
}

ms-navigation {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

@media (max-width: 880px) {
  .upper-header {
    padding: 1rem .25rem 0;
    border: none;
  }

  .app-logo {
    margin-bottom: -.25rem;
  }

  ms-header-search {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .app-logo {
    width: 100%;
  }
}