<mat-expansion-panel (afterExpand)="newPasswordInput.focus()" (afterCollapse)="form.reset()" #panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Password</mat-panel-title>
    <mat-panel-description>Change Password</mat-panel-description>
  </mat-expansion-panel-header>

  <form #form="ngForm" (submit)="onSubmit()" class="expansion-panel-body">
    <div class="control-field">
      <input type="password" class="ms-input" name="newPassword" id="newPassword" ngModel required #newPasswordInput>
      <label for="newPassword" [class.top]="newPasswordInput.value">New Password</label>
    </div>

    <div class="control-field">
      <input type="password" class="ms-input" name="currentPassword" id="currentPassword" ngModel required
        #currentPasswordInput>
      <label for="currentPassword" [class.top]="currentPasswordInput.value">Current Password</label>
    </div>

    <div class="expansion-panel-buttons">
      <button type="submit" class="ms-button primary" [disabled]="form.invalid || isLoading()">
        Save
        @if (isLoading()) {
        <mat-spinner [diameter]="15" [strokeWidth]="2" />
        }
      </button>
      <button type="reset" class="ms-button red-button" (click)="onCancelClick()">
        Cancel
      </button>
    </div>
  </form>
</mat-expansion-panel>