@let results = searchResults();

<div class="header-search-bar-container">
  <input role="button" placeholder='Search' [disabled]="isSearchPanelOpen()" (click)="openSearchPanel($event)"
    (focus)="openSearchPanel($event)" />
  <i class="bi bi-search"></i>
</div>

@if (isSearchPanelOpen()) {
<div class="overlay">
  <div class="dialog-container" (msClickOutside)="closeSearchPanel()" (msEscapePress)="closeSearchPanel()">

    <ms-search-bar (searchResults)="onSearchResults($event)" (isSearching)="onIsSearching($event)" />

    <ul class="mini-coins-list-cointainer">
      @if (isSearching()) {

      @for (coin of [1,2,3,4,5,6,7,8,9]; track $index) {
      <li>
        <span class="skeleton"></span>
      </li>
      }

      } @else if (results) {

      @for (coin of results.coins; track coin.id) {
      <li>
        <ms-mini-coin-bar [coin]="coin" (coinBarClick)="onCoinBarClick($event)" />
      </li>
      }

      } @else {
      <p class="empty-mini-coins-list">{{message()}}</p>
      }
    </ul>

  </div>
</div>
}