@let results = searchResults();

<div class="header-search-bar-container">
  <input role="button" placeholder='Search' [disabled]="isSearchPanelOpen()" (click)="openSearchPanel($event)"
    (focus)="openSearchPanel($event)" />
  <i class="bi bi-search"></i>
</div>

@if (isSearchPanelOpen()) {
<div class="overlay">
  <div class="dialog-container" (msClickOutside)="closeSearchPanel()" (msEscapePress)="closeSearchPanel()">

    <ms-search-bar (searchResults)="onSearchResults($event)" (isLoading)="onIsLoading($event)" />

    @if (results) {

    <ms-mini-coins-list [coins]="results.coins" [isLoading]="isLoading()" (coinBarClick)="onCoinBarClick($event)" />

    } @else {
    <p class="empty-list">{{message()}}</p>
    }

  </div>
</div>
}