.coin-symbol {
  margin-left: .1rem;
  color: var(--gray);
  font-size: .8rem;
}

a,
a.active {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.bi-star,
.bi-star-fill {
  color: gold;
}

.bi-pie-chart,
.bi-pie-chart-fill {
  color: var(--primary-color);
}

.bi-trash3:hover {
  color: var(--red);
}

.bi-plus-circle:hover {
  color: var(--green);
}

.bi-pencil-square:hover {
  color: var(--primary-color);
}

.asc::before,
.desc::before {
  content: '';
  position: absolute;
  left: -1rem;
  border: 6px solid transparent;
}

.asc::before {
  border-bottom-color: inherit;
}

.desc::before {
  top: 50%;
  border-top-color: inherit;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.skeleton {
  width: 6rem;
  height: 1.2rem;
  border-radius: var(--radius-s);
  opacity: .6;
  animation: skeleton-loader .75s linear infinite alternate;
}

.circle {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  opacity: .6;
  animation: skeleton-loader .75s linear infinite alternate;
}

.empty-mini-coins-list {
  flex: 1;
  padding-top: 3rem;
  text-align: center;
  color: var(--gray);
}

.mini-coins-list-cointainer {
  flex: 1;
  padding: .75rem;
  overflow: hidden auto;

  li {
    margin-bottom: .25rem;
  }

  .skeleton {
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: var(--radius-l);
  }

  .bi-star {
    color: var(--gray);
  }
}

.pane {
  flex: 1;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  border-radius: var(--radius-l);
  border: 3px solid var(--primary-color);

  img {
    width: 2rem;
    height: 2rem;
  }

  .percent {
    margin-left: 1rem;

    span {
      position: relative;
      margin-right: .5rem;
    }
  }

  .title {
    font-size: .9rem;
    color: var(--gray);
  }

  .value {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media (max-width: 750px) {
  .pane {

    .title,
    .percent {
      font-size: .7rem;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 500;
    }


    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.labels-bar {
  height: 3.2rem;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 5;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000039;
  backdrop-filter: blur(4px);
  z-index: 100;
  animation: show-overlay var(--transition) forwards;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  min-width: min(80%, 500px);
  height: 75vh;
  position: absolute;
  top: 10vh;
  left: 50%;
  background-color: var(--background-color);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow);
  animation: show-dialog-container var(--transition) forwards;
  overflow: hidden;
}