.coin-symbol {
  margin-left: .1rem;
  color: var(--gray);
  font-size: .8rem;
}

a,
a.active {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.bi-star,
.bi-star-fill {
  color: gold;
}

.bi-pie-chart,
.bi-pie-chart-fill {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.asc::before,
.desc::before {
  content: '';
  position: absolute;
  left: -1rem;
  border: 6px solid transparent;
}

.asc::before {
  border-bottom-color: inherit;
}

.desc::before {
  top: 50%;
  border-top-color: inherit;
}

.skeleton {
  width: 6rem;
  height: 1.2rem;
  border-radius: var(--radius-s);
  opacity: .6;
  animation: skeleton-loader .75s linear infinite alternate;
}

.circle {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  opacity: .6;
  animation: skeleton-loader .75s linear infinite alternate;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000039;
  backdrop-filter: blur(4px);
  z-index: 100;
  animation: show-overlay var(--transition) forwards;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  min-width: min(80%, 500px);
  max-height: 70vh;
  position: absolute;
  top: 50vh;
  left: 50%;
  background-color: var(--background-color);
  border-radius: var(--radius-l);
  border: 2px solid var(--primary-color);
  box-shadow: var(--shadow);
  animation: show-dialog-container var(--transition) forwards;

  &.top-10 {
    top: 10vh;
  }
}