.coin-symbol {
  margin-left: .1rem;
  color: var(--gray);
  font-size: .8rem;
}

a,
a.active {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.bi-star,
.bi-star-fill {
  color: gold;
}

.bi-pie-chart,
.bi-pie-chart-fill {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.asc::before,
.desc::before {
  content: '';
  position: absolute;
  left: -1rem;
  border: 6px solid transparent;
}

.asc::before {
  border-bottom-color: inherit;
}

.desc::before {
  top: 50%;
  border-top-color: inherit;
}

.skeleton {
  width: 6rem;
  height: 1.2rem;
  border-radius: var(--radius-s);
  opacity: .6;
  animation: skeleton-loader .75s linear infinite alternate;
}

.circle {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  opacity: .6;
  animation: skeleton-loader .75s linear infinite alternate;
}

@keyframes skeleton-loader {
  from {
    background-color: #7a7a7a;
  }

  to {
    background-color: #c5c5c5;
  }
}

@keyframes icon-loader {
  from {
    color: #7a7a7a;
  }

  to {
    color: #c5c5c5;
  }
}