.coin-symbol {
  margin-left: .5rem;
  color: var(--gray);
  font-size: .8rem;
}

a,
a.active {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.bi-star,
.bi-star-fill {
  color: gold;
}

.bi-pie-chart,
.bi-pie-chart-fill {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.asc::before,
.desc::before {
  content: '';
  position: absolute;
  left: -1rem;
  border: 6px solid transparent;
}

.asc::before {
  border-bottom-color: inherit;
}

.desc::before {
  top: 50%;
  border-top-color: inherit;
}