@let user = authService.user$();

@if (user) {
<mat-accordion [displayMode]="'flat'">

  <ms-username-form [username]="user.username" />

  <ms-bio-form [bio]="user.bio" />

  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>Date Joined</mat-panel-title>
      <mat-panel-description>{{user.date_joined | date}}</mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel disabled class="no-border">
    <mat-expansion-panel-header>
      <mat-panel-title>Logout</mat-panel-title>
      <button class="ms-button red-button" (click)="onLogoutClick()">Log out</button>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

</mat-accordion>
}