<ms-watchlist-control-bar (addCoinsClick)="openSelectMenu()" />

@if (watchlistService.currentWatchlist$()) {

<ms-watchlist-header (addCoinClick)="openSelectMenu()" />

@if (currentCoins().length || loaderBarCount() > 0) {
<ms-coins-list [coins]="currentCoins()" [isLoading]="isLoading()" [loaderBarCount]="loaderBarCount()" />

} @else {
<p>empty watchlist</p>
}

@if (isCoinSelectMenuOpen()) {
<ms-watchlist-coin-select-menu (selectMenuClose)="onSelectMenuClose()" />
}

} @else {
<div class="no-watchlists">
  TODO <br>
  You have no watchlists yet
</div>
}