<div class="watchlist-component-container">

  <ms-watchlist-control-bar (addCoinsClick)="openSelectMenu()" />

  @if (currentCoins().length || loaderBarCount()) {
  <ms-watchlist-header [currentCoins]="currentCoins()" [isLoading]="isLoading()" />
  <ms-coins-list [coins]="currentCoins()" [isLoading]="isLoading()" [loaderBarCount]="loaderBarCount()" />

  <button type="button" class="add-coin-bar" (click)="openSelectMenu()">
    Add Coins +
  </button>

  } @else {
  <div class="empty-watchlist-container">
    <div>
      <h2>Start Tracking Your Favorit Coins <br> In Your Watchlist Now.</h2>

      <button type="button" class="ms-button primary" (click)="openSelectMenu()">
        Add Coins +
      </button>
    </div>

    <ms-empty-watchlist-svg />
  </div>
  }
</div>

@if (isCoinSelectMenuOpen()) {
<ms-watchlist-coin-select-menu (selectMenuClose)="onSelectMenuClose()" />
}