<mat-expansion-panel (afterExpand)="input.focus()" (afterCollapse)="form.reset()" #panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Bio</mat-panel-title>
    <mat-panel-description>{{bio() ? bio() : 'Tell the world something about you'}}</mat-panel-description>
  </mat-expansion-panel-header>

  <form #form="ngForm" (submit)="onSubmit()" class="expansion-panel-body">
    <div class="control-field">
      <input type="text" class="ms-input" name="bio" id="bio" minlength="3" maxlength="150" ngModel required #input>
      <label for="bio" [class.top]="input.value">New Bio</label>
    </div>

    <div class="expansion-panel-buttons">
      <button type="submit" class="ms-button primary" [disabled]="form.invalid || isLoading()">
        Save
        @if (isLoading()) {
        <mat-spinner [diameter]="15" [strokeWidth]="2" />
        }
      </button>
      <button type="reset" class="ms-button red-button" (click)="closePanel()">
        Cancel
      </button>
    </div>
  </form>
</mat-expansion-panel>