.stats-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gainer-container {
  display: flex;
  gap: .5rem;
}

.pane {
  display: flex;
  cursor: pointer;
}

.totals-pane {
  padding: 0;
  border: none;
  cursor: default;
}

.total-value-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem 1.5rem;
}

@media (max-width: 450px) {
  .gainer-container {
    display: none;
  }
}