.portfolio-header {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;

  .skeleton {
    width: 50%;
    height: 270px;
  }
}

ms-portfolio-stats-panes,
.chart-wrapper {
  width: 50%;
}

.chart-wrapper {
  background-color: var(--accent1-color);
  border-radius: var(--radius-l);
  position: relative;

  p {
    position: absolute;
    left: 1.75rem;
    top: 1rem;
  }
}

@media (max-width: 900px) {
  .portfolio-header {
    flex-direction: column;

    .skeleton {
      width: 100%;
    }
  }

  ms-portfolio-stats-panes,
  .chart-wrapper {
    width: 100%;
  }
}


@media (max-width: 450px) {
  .portfolio-header {
    flex-direction: column;

    .skeleton:first-child {
      height: 130px;
    }
  }
}