@let portfolioCoinsCount = portfolioService.currentPortfolio$()?.coins?.length ?? 0;
@let portfolioData = portfolioState.portfolioData$();

<ms-portfolio-control-bar (addAssetClick)="openSelectMenu()" />

@if (portfolioCoinsCount) {

@if (portfolioData) {
<div class="portfolio-header">
  <ms-portfolio-stats-panes />

  <div class="chart-wrapper">
    <p>Asset Allocation</p>
    <ms-asset-allocation-chart [chartData]="portfolioData.allocation_chart" />
  </div>
</div>

<ms-assets-list [assets]="portfolioData.assets" (addAssetClick)="openSelectMenu()" />

} @else {

<p>is loading</p>
<p>{{portfolioCoinsCount}}</p>
}


} @else {
<div class="empty-watchlist_portfolio-container">
  <div>
    <h2>Start Tracking Profit and Losses <br> Of Your Portoflio Now.</h2>

    <button type="button" class="ms-button primary" (click)="openSelectMenu()">
      Add Asset +
    </button>
  </div>

  <ms-emtpy-portfolio-svg class="placeholder-svg" />
</div>
}


@if (isCoinSelectMenuOpen()) {
<ms-portfolio-coin-select-menu (selectMenuClose)="onSelectMenuClose()" />
}