.app-logo {
  width: fit-content;
  height: fit-content;
  color: var(--primary);
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  padding: .2rem .5rem;
  border-radius: var(--radius-s);
  border: 2px solid var(--primary);
  user-select: none;
}