<div class="overlay">
  <div class="dialog-container top-10" role="dialog" aria-labelledby="login" aria-describedby="loginDesc"
    (msClickOutside)="closeModal()" (msEscapePress)="closeModal()">
    <div class="dialog-header">
      <div class="tabs-container">
        <input type="radio" name="mode" value="login" id="login_radio" (change)="switchForm()" [checked]="isLogin()">
        <label for="login_radio" [class.acitve]="isLogin()">
          Log In
        </label>

        <input type="radio" name="mode" value="signup" id="signup_radio" (change)="switchForm()" [checked]="!isLogin()">
        <label for="signup_radio" [class.acitve]="!isLogin()">
          Sign Up
        </label>
      </div>

      <button class="close-button" (click)="closeModal()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="control-field">
        <input type="email" class="ms-input" formControlName="email" id="email" #emailInput>
        <label for="email" [class.top]="emailInput.value">Email</label>
      </div>

      <div class="control-field">
        <input type="password" class="ms-input" formControlName="password" id="password" #passwordInput>
        <label for="password" [class.top]="passwordInput.value">Password</label>
        <ms-password-eye [input]="passwordInput" />
      </div>

      @if (!isLogin()) {
      <div class="agreement-field">
        <input type="checkbox" formControlName="isAgreed" id="agreement">
        <label for="agreement">
          I agree to MinterSpace's
          <a routerLink="/terms-of-use" (click)="closeModal()">Terms of Use</a>
          &
          <a routerLink="/privacy-policy" (click)="closeModal()">Privacy Policy</a>.
        </label>
      </div>

      }

      <small [class.show]="formError()">
        {{formError()}}
        <!-- Invalid email format -->
        <!-- Password musst contain at least one letter -->
        <!-- Password musst contain at least one digit -->
        <!-- Whitespace is not allowed -->
        <!-- Password musst be at least 8 charachters length -->
      </small>

      <button class="ms-button primary" type="submit" [disabled]="form.invalid || isLoading()">
        {{isLogin() ? 'Log In' : 'Sign Up'}}

        @if (isLoading()) {
        <mat-spinner [diameter]="20" [strokeWidth]="3" />
        }
      </button>

    </form>

    <p class="question">
      <span>
        {{ isLogin()
        ? "Don't have an account?"
        : "Already have an account?"
        }}
      </span>
      <button type="button" (click)="switchForm()">
        {{isLogin() ? 'Sign Up' : 'Log In' }}
      </button>
    </p>
  </div>
</div>