.coin-bar-container {
  display: flex;
  width: 100%;
  padding: .5rem 1rem;
  column-gap: .5rem;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.coin-bar-container:hover {
  background-color: var(--accent2);
}

.coin-bar-container:active {
  background-color: var(--main-color);
}

.left-section {
  display: flex;
  align-items: center;
}

img {
  width: 25px;
  height: 25px;
  margin-right: .5rem;
  border-radius: 50%;
}

.coin-symbol {
  margin-left: .2rem;
  color: var(--gray);
  font-size: .7rem;
}