.coin-bar-container {
  display: flex;
  width: 100%;
  padding: .5rem .75rem;
  column-gap: .5rem;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
  border-radius: var(--radius-l);
  color: var(--text-color);
  cursor: pointer;
}

.left-section {
  display: flex;
  align-items: center;
}

img {
  width: 25px;
  height: 25px;
  margin-right: .5rem;
  border-radius: 50%;
}

.coin-symbol {
  margin-left: .2rem;
  color: var(--gray);
  font-size: .7rem;
}