.component-container-with-padding {
  display: grid;
  grid-template-columns: 220px auto;
  column-gap: 1rem;
  min-height: 60vh;
}

.sidebar {
  border-right: 1px solid var(--border-color);
  min-height: 50vh;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .bi-person-circle {
    font-size: 6rem;
    color: var(--gray);
  }

  .username {
    font-weight: 600;
  }
}

.nav-list {
  margin-top: 2rem;

  button {
    width: 100%;
    padding: .5rem 1rem;
    font-weight: 550;
    text-align: left;
    border-radius: var(--radius-l) 0 0 var(--radius-l);
    transition: var(--transition);
  }

  button:hover {
    background-color: var(--accent1-color);
  }

  button.selected {
    background-color: var(--tertiary-color);
  }
}

.expansion-panel-body {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.expansion-panel-buttons {
  display: flex;
  gap: .5rem;

  button {
    min-width: 5rem;
  }
}

mat-panel-description {
  color: var(--gray) !important;
}

.no-border {
  border: none;
}