.account-component-container {
  display: grid;
  grid-template-columns: 220px auto;
  column-gap: 2rem;
  min-height: 60vh;
}

.sidebar {
  border-right: 1px solid var(--border-color);
  min-height: 50vh;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .bi-person-circle {
    font-size: 6rem;
    color: var(--gray);
  }

  .username {
    font-weight: 600;
  }
}

.red {
  color: var(--red);
}

.delete-account-hint {
  margin-bottom: 1rem;
  font-size: .9rem;
  padding: 0 .25rem;
}

.nav-list {
  margin-top: 2rem;

  button {
    width: 100%;
    padding: .5rem 1rem;
    font-weight: 550;
    text-align: left;
    border-radius: var(--radius-l) 0 0 var(--radius-l);
    transition: var(--transition);
  }

  button:hover {
    background-color: var(--accent1-color);
  }

  button.selected {
    background-color: var(--tertiary-color);
  }
}

.expansion-panel-body {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.expansion-panel-buttons {
  display: flex;
  gap: .5rem;

  button {
    min-width: 5rem;
  }
}

mat-panel-description {
  color: var(--gray) !important;
}

.no-border {
  border: none;
}

@media (max-width: 700px) {
  .account-component-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    min-height: 60vh;
  }

  .sidebar {
    border: none;
    min-height: 0;
  }

}