.config-button {
  padding: .4rem .75rem;
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border-radius: var(--radius-s);
  border: none;
  transition: var(--transition);

  &:hover {
    background-color: var(--tertiary-ligth-color);
  }

  &>span {
    margin-left: .5rem;
  }
}

.config-pane {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 1.5rem;
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  background-color: var(--tertiary-color);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow);
  transition: var(--transition);

  &.show {
    top: 2.5rem;
    opacity: 1;
    pointer-events: all;
  }

  .config-control-field {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    label {
      font-size: .8rem;
      width: fit-content;
    }

    .ms-input {
      padding: .4rem 1rem;
      width: initial;
      background-color: var(--tertiary-color);
      border-color: var(--tertiary-ligth-color);
    }

    .ms-input:focus {
      border-color: var(--primary-color);
    }
  }
}