<button class="config-button">
  <i class="bi bi-sliders"></i>
  <span>Customise</span>
</button>

<div class="config-panel-container">
  <form class="config-panel">
    <div class="config-control-field">
      <label for='categoryId'>Category</label>
      <select class='ms-input' name='categoryId' id='categoryId' [(ngModel)]="categoryId"
        (ngModelChange)="categoryIdChange.emit($event)">
        <option value=''>All</option>
        @for (category of coinService.coinCategories(); track category.id){
        <option [value]="category.id">{{category.name}}</option>
        }
      </select>
    </div>

    <div class="config-control-field">
      <label for='perPage'>Coins per page</label>
      <select class='ms-input' name='perPage' id='perPage' [(ngModel)]="perPage"
        (ngModelChange)="perPageChange.emit($event)">
        @for (num of [10, 25, 50, 100]; track $index){
        <option [value]="num">{{num}}</option>
        }
      </select>
    </div>

  </form>
</div>