.exchanges-list-header {
  display: flex;
  height: 7rem;
  padding: 2rem .25rem 1rem;
  justify-content: space-between;
}

.config-control-field {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: .5rem;

  label {
    font-size: .8rem;
  }

  .ms-input {
    padding: .4rem 1rem;
    width: fit-content;
  }
}

.exchange-grid {
  display: grid;
  grid-template-columns: 5% auto 10% 15% 25% 15%;
  padding: 0 .25rem;
  font-size: .9rem;
  align-items: center;
  text-align: right;
  border-bottom: 1px solid var(--border-color);

  span:nth-child(1),
  ms-label-button:nth-child(1) {
    justify-self: center;
  }

  a:nth-child(2),
  div:nth-child(2),
  ms-label-button:nth-child(2) {
    text-align: left;
    margin-left: 1rem;
  }
}


@media (max-width: 850px) {
  .exchange-grid {
    grid-template-columns: 5% auto 10% 20% 25%;

    &>span:last-child,
    ms-label-button:last-child {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .exchange-grid {
    grid-template-columns: 5% auto 10% 30%;
    font-size: .8rem;

    &>span:nth-child(5),
    ms-label-button:nth-child(5) {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .exchanges-list-header {
    flex-direction: column;
    gap: .75rem;
    height: fit-content;
  }

  .exchange-grid {
    grid-template-columns: 5% auto 30%;
    font-size: .8rem;

    &>span:nth-child(3),
    &>div:nth-child(3),
    ms-label-button:nth-child(3) {
      display: none;
    }
  }
}