.asset-grid {
  display: grid;
  grid-template-columns: auto 9% 7% 12rem 11% 11% 11% 5rem;
  padding: 0 .25rem;
  align-items: center;
  text-align: right;
  font-size: .9rem;
  border-bottom: 1px solid var(--border-color);

  ms-label-button:nth-child(1) {
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .asset-grid {
    grid-template-columns: auto 9% 8% 15% 15% 15% 5rem;

    .skeleton:nth-child(4),
    ms-label-button:nth-child(4),
    ms-sparkline {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .asset-grid {
    grid-template-columns: auto 9% 10% 17% 17% 5rem;
    font-size: .8rem;

    .skeleton:nth-child(6),
    ms-label-button:nth-child(6),
    span:nth-child(6) {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .asset-grid {
    grid-template-columns: auto 10% 22% 22%;

    .skeleton:nth-child(3),
    ms-label-button:nth-child(3),
    p:nth-child(3),
    ms-label-button:last-child,
    div:last-child {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .asset-grid {
    grid-template-columns: auto 15% 27%;

    .skeleton:nth-child(5),
    ms-label-button:nth-child(5),
    div:nth-child(5) {
      display: none;
    }
  }
}