@use '@angular/material' as mat;

body.light-theme {
  --background-color: #ffffff;
  --tertiary-color: #e9e3f0;
  --tertiary-ligth-color: #cac0d6;
  --gray: #6a7077;
  --green: #2cb866;
  --red: #d43434;
  --text-color: #1c1b1d;
  --border-color: #d2cbda;
  --shadow: #16151f1e 0px 1px 0px, #16151f1e 0px 8px 24px, #16151f1e 0px 16px 48px;
}

:root {
  --primary-color: #5d1bd8;
  --secondary-color: #5d1bd860;

  // default dark-theme colors:
  --background-color: #1a1720;
  --tertiary-color: #3e3e50;
  --tertiary-ligth-color: #585870;
  --gray: #b0bbca;
  --green: #28da81;
  --red: #f35757;
  --text-color: #fff;
  --border-color: #2e3842;
  --shadow: #c4c1f112 0px 1px 0px, #c4c1f112 0px 8px 24px, #c4c1f112 0px 16px 48px;

  // border-radius:
  --radius-s: 10px;
  --radius-l: 20px;
  --transition: .15s;
  --app-width: 1300px;

  @include mat.progress-spinner-overrides((active-indicator-color: var(--primary-color)));
  @include mat.snack-bar-overrides((supporting-text-color: #fff,
      supporting-text-size: .9rem,
      supporting-text-weight: 600,
    ));
  @include mat.tooltip-overrides((container-color: gray,
      supporting-text-color: #fff,
      supporting-text-size: .75rem,
      supporting-text-weight: 600,
    ));
  @include mat.expansion-overrides((header-collapsed-state-height: 5rem,
      header-expanded-state-height: 5rem,
      header-indicator-color:var(--gray),
      header-text-size: .9rem,
      header-text-weight: 550));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray);
  border-radius: var(--radius-s);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--radius-s);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

ms-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}

.snack-bar {
  text-align: center;
  border-radius: var(--radius-l);
  background-color: var(--primary-color);

  .mdc-snackbar__surface {
    border-radius: var(--radius-l) !important;
    box-shadow: var(--shadow) !important;
  }

  &.green {
    background-color: var(--green);
  }

  &.red {
    background-color: var(--red);
  }
}

.mdc-tooltip__surface {
  border-radius: 5px !important;
}

mat-expansion-panel {
  box-shadow: none !important;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0 !important;
}