<div class="about-component-container">

  <img class="app-logo" src="./assets/minterspace-logo.png" />

  <p class="desciption">
    <span class="title">
      Simple Yet Deep Insights
    </span>

    We started MinterSpace because keeping up with the crypto market movements shouldn’t feel like reading a
    spaceship control panel. Most tools are cluttered, slow, or packed with features you don’t need.
  </p>

  <p class="bulletpoints">
    <span class="title">
      Why People Love Us
    </span>

    <span>
      <i class="bi bi-check2-square"></i>
      Simple interface.
    </span>

    <span>
      <i class="bi bi-check2-square"></i>
      Intuitive portfolios and watchlists tracker.
    </span>

    <span>
      <i class="bi bi-check2-square"></i>
      Fast updates and loading time.
    </span>

    <span>
      <i class="bi bi-check2-square"></i>
      Reliable and fresh market data.
    </span>

    <span>
      <i class="bi bi-check2-square"></i>
      No fluff — just the essentials.
    </span>
  </p>

  <p>
    Crypto moves fast — and so should the way you track it. We’re here to keep you connected to the markets with speed,
    clarity, and zero distractions.
  </p>

  <p class="trailing-text">
    Check the charts. Make your move.
  </p>

</div>