.dialog-container {
  max-width: 500px;
}

.menu-header {
  position: relative;
  padding: 1rem;
  font-size: .9rem;
  font-weight: 600;
}

.close-button {
  top: 1.5rem;
  right: 2.2rem;
}

ms-mini-coin-bar:hover .bi-chevron-right {
  font-size: 1.1rem;
}