@let exg = exchange();

<li class="exchange-grid exchange-bar">
  <span>
    {{exg.trust_score_rank}}
  </span>

  <a [href]="exg.url" target="_blank">
    <div class="exchange-name-img-container">
      <img class="exchange-img" [src]="exg.image">
      <span>{{exg.name}}</span>
    </div>
  </a>

  <div>
    @let score = exg.trust_score;

    <span class="score" [ngClass]="{'green':score >= 7,'yellow':score >= 4,'red':score < 4}">
      {{score ? score + '/10': 'N/A'}}
    </span>
  </div>

  <span>
    &#8383;{{exg.trade_volume_24h_btc_normalized | number : '1.0-0'}}
  </span>

  <span>
    {{exg.country ? exg.country : 'N/A'}}
  </span>

  <span>
    {{exg.year_established ? exg.year_established : 'N/A'}}
  </span>
</li>