@let exg = exchange();

<li class="exchange-grid exchange-bar">
  <span>
    {{exg.trust_score_rank}}
  </span>

  <a [href]="exg.url" target="_blank">
    <div class="exchange-name-img-container">
      <img class="exchange-img" [src]="exg.image">
      <span>{{exg.name}}</span>
    </div>
  </a>

  <div>
    <span class="score"
      [ngClass]="{'green':exg.trust_score >= 7,'yellow':exg.trust_score >= 4,'red':exg.trust_score < 4}">
      {{exg.trust_score}}/10
    </span>
  </div>

  <span>
    ${{exg.trade_volume_24h_btc_normalized | number : '1.0-0'}}
  </span>

  <span>
    {{exg.country ? exg.country : '-'}}
  </span>

  <span>
    {{exg.year_established ? exg.year_established : '-'}}
  </span>
</li>