.dialog-container {
  max-width: 500px;
}

.menu-header {
  position: relative;
  padding: 1rem;
  font-size: .9rem;
  font-weight: 600;
}

.close-button {
  top: 1.5rem;
  right: 2.2rem;
}

.new-coins-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 5rem;
  gap: .5rem;
  border: .5rem solid transparent;
  background-color: var(--tertiary-ligth-color);
  overflow: hidden auto;

  .icon-button {
    height: 1.5rem;
    padding: 0 .75rem;
    border-radius: var(--radius-l);
    background-color: var(--tertiary-color);
  }

  .icon-button:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.ms-button {
  min-height: 3rem;
  border-radius: 0;
}