.navigation-toggle {
  display: none;
  font-size: 1.25rem;

  i {
    color: var(--gray);
    transition: var(--transition);
  }

  i:hover {
    color: var(--text-color);
  }
}

.header-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;

  ul {
    display: flex;
    font-size: .9rem;
  }

  ul:first-child {
    column-gap: 1rem;
  }

  a {
    text-decoration: none;
  }
}

.left-nav a:hover {
  color: var(--primary-color);
}

.icon-link {
  padding: .3rem .5rem;
  border-radius: var(--radius-s);
  transition: var(--transition);

  i {
    margin-right: .5rem;
  }

  &:hover {
    background-color: var(--tertiary-color);
  }
}

// This value must match the value of the breakpointObserver in the header component class
@media (max-width: 880px) {
  .navigation-toggle {
    display: block;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem 0;
    position: absolute;
    top: 3rem;
    left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(var(--background-color), 90%, transparent);
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
    z-index: 10;

    &.open {
      opacity: 1;
      top: 4rem;
      pointer-events: all;
    }

    ul {
      flex-direction: column;
      width: 100%;
      font-size: 1rem;
    }

    a {
      display: block;
      padding: .6rem 1.75rem;
      border-radius: 0;
    }

    a:hover {
      background-color: var(--secondary-color);
      color: var(--text-color);
    }

    .icon-link i {
      display: none;
    }
  }
}