<div class="footer-content-wrapper">

  <div class="logo-container">
    <ms-app-logo />
  </div>

  <div class="footer-content">
    <p class="footer-text">
      Minterspace is a prototype cryptocurrency application intended solely for demonstration
      purposes. It should not be used for any commercial purposes or relied upon for making any financial
      decisions. Please refer to our <a routerLink="/terms">Terms Of Use</a> before using this
      application.
    </p>

    <div class="links-columns">
      <div class="links-container">
        <a routerLink="/">Home</a>
        <a routerLink="/exchanges">Exchanges</a>
        <a routerLink="/account">Account</a>
        <a routerLink="/watchlist">Watchlist</a>
        <a routerLink="/portfolio">Portfolio</a>
      </div>

      <div class="links-container">
        <a routerLink="/about">About</a>
        <a routerLink="/terms">Terms Of Use</a>
        <a routerLink="/contact">Contact</a>
      </div>
    </div>

    <div class="attributes-container">
      <div class="attribute">
        <p>Market data provided by</p>
        <a href="https://www.coingecko.com/" target="_blank">
          <img src="./assets/coingecko-logo.png" alt="coingecko-logo">
        </a>
      </div>

      <div class="attribute">
        <p>Price charts powered by</p>
        <a href="https://www.tradingview.com/" target="_blank">
          <img src="./assets/tradingview-logo.png" alt="tradingview-logo">
        </a>
      </div>
    </div>
  </div>

  <p class="version">2025 MinterSpace version 1.0.0</p>

</div>