<div class="header-loader">
  <div>
    <span class="circle"></span>
    <span class="skeleton"></span>
  </div>
  <span class="skeleton"></span>
  <span class="skeleton"></span>
</div>

<section class="data-and-charts-section">

  <div class="market-data-container">
    <div class="market-data-loader">
      <span class="skeleton"></span>
      <span class="skeleton"></span>
      <span class="skeleton"></span>
      <span class="skeleton"></span>
      <span class="skeleton"></span>
    </div>
  </div>

  <div class="charts-container">
    <div class="charts-loader">
      <i class="bi bi-graph-up"></i>
    </div>
  </div>

</section>