.category-name {
  margin-bottom: 1.5rem;
}

.category-panes-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.top-coins {
  div {
    display: flex;
    margin-top: .5rem;
    column-gap: .5rem;
  }
}

.dominance-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: .5rem;
  column-gap: 1rem;
  row-gap: .25rem;
  font-weight: 600;
}

.skeleton {
  flex: 1;
  min-width: 15rem;
  height: 7rem;
}

.category-name.skeleton {
  height: 2rem;
  min-width: min(23rem, 60vw);
}