@let watchlist = watchlistService.currentWatchlist$();

@if (watchlist) {
<div class="coin-bar-container">
  <button type="button" class="select-menu-button" (click)="openSelectMenu()">
    @if (watchlist.is_main) { <i class="bi bi-star-fill"></i> }
    {{watchlist.name}}
    <i [class]='"bi bi-chevron-" + (isSelectMenuOpen()? "up" : "down")'></i>
  </button>

  <div class="action-buttons-container">
    <button type="button" class="icon-button" (click)="onAddCoinsClick()" matTooltip="Add Coins">
      <i class="bi bi-plus-circle"></i>
    </button>
    <button type="button" class="icon-button" (click)="openNameForm('edit')" matTooltip="Rename Watchlist">
      <i class="bi bi-pencil-square"></i>
    </button>
    <button type="button" class="icon-button" (click)="onDeleteClick()" matTooltip="Delete Watchlist"
      [disabled]="watchlist.is_main">
      <i class="bi bi-trash3"></i>
    </button>
  </div>

  <ul class="select-menu" [class.show]="isSelectMenuOpen()" (msClickOutside)="closeSelectMenu()"
    (msEscapePress)="closeSelectMenu()">
    @for ( wl of watchlistService.watchlists$(); track wl.id ) {
    <li>
      <button type="button" class="menu-item" [class.selected]="wl.id === watchlist.id" (click)="onWatchlistSelect(wl)">
        @if (wl.is_main) { <i class="bi bi-star-fill"></i> }
        {{wl.name}}
      </button>
    </li>
    }
    <li>
      <button type="button" class="menu-item" (click)="openNameForm('create')">
        Add a new watchlist +
      </button>
    </li>
  </ul>

</div>
}

@if (isNameFormOpen()) {
<ms-name-input-pane [isLoading]="isLoading()" [formActionType]="formActionType" [object]="'Watchlist'"
  (paneClose)="closeNameForm()" (nameSubmit)="onNameFormSubmit($event)" />
}